@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
}

footer {
    font-family: 'Josefin Sans', sans-serif;
}

li {
    color: white;
}

footer li {
    font-weight: 400;
}

.shadow-def { 
    -webkit-box-shadow: 0px 0px 16px -5px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 16px -5px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 16px -5px rgba(0, 0, 0, 1);
}

.learn-more {
    border-radius: 10px;
    color: white;
    border: none;
    background: rgb(2,131,233);
    background: linear-gradient(346deg, rgba(2,131,233,0.6) 0%, rgba(252,1,202,0.6) 100%);
    width: 150px !important;
}

#bg{
    background-image: url('v1.jpg'); 
    background-repeat: no-repeat; 
    background-size: contain; 
    background-position-x: right;
    height: 600px;
}

@media only screen and (min-width: 1300px) {
    #circle {
        position: absolute; 
        left: 50px; 
        top: 450px;
    }
    .block {
        width: 60%;
    }
}

@media only screen and (max-width: 982px) {
    #bg {
        background-size: 80%;
    }
}

@media only screen and (min-width: 768px) {
    #circle {
        position: absolute; 
        left: 50px; 
        top: 550px;
    }
    .title {
        padding-left: 20%;
    }
}

@media only screen and (max-width: 767px) {
    #circle {
        display: none;
    }
    #bg {
        background-size: 50%;
    }
}
